@media screen and (max-width: 768px) {
  body {
    background-color: blueviolet;
    color: seashell;
  }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000001;
  }
  
  #spider {
    float: right;
  }

  .headboard {
    flex-direction: row;
    background-color: black;
    color: white;
  }

  .horizon-align {
    margin-left: 5h;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 3vh 0 3vh;
  }

  .headboard a {
    color:white;
    margin: 5px;
  }

  .headboard a:hover {
    color:yellow;
  }

  .contact-container {
    display: flex;
    flex-wrap: wrap;
  }

  .form-stack {
    width: 40%;
  }

  .form-solo {
    width: 75%;
  }

  label {
    margin: 5px;
  }

  input {
    margin: 5px;
  }

  .shape-box {
    flex-direction: row;
    justify-content: flex-start;
  }

  .circle {
    height: 25px;
    width: 25px;
    margin: 2vh;
    border-radius: 50%;
    display: inline-block;
  }

  .square {
    height: 0.5cm;
    width: 0.5cm;
    margin: 2vh;
    display: inline-block;
  }

  .blue {
    background-color: lightblue;
  }

  .dblue {
    background-color: darkblue;
    opacity: 50%;
  }

  a:nth-child(2n){
    color: red;
  }